* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courgette", serif;
}

h1 {
    font-size: 45px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: 'Courgette', cursive;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.gif-container {
    margin-bottom: 20px;
}

.gif-container iframe {
    max-width: 100%;
    height: auto;
}
